<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/category" method="GET">Category</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add Category</li>
  </ol>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <form action="/category/add" method="POST">
                        {{> category-form}}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>